#musicplay{
	 position: fixed;
	left: 25px;
	top: 5px;
	width: 53px;
	height:53px;
	z-index: 99;
}
.musicContral{
	display: none;
}
.lctop-describe i{
	display: none;
}
.navOpacity{
	opacity: 0.7;
}
.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 66;
}
.toper{
	height: auto;
}
.mobilecon{
	padding-top: 60px;
}

.navtitle{
	width: 100%;
	text-align: center;
}

.titlebar{
	height: 0px;
	overflow: hidden;
	transition: all 0.5s;
}
.zaiti{
	position: absolute;
	left: 88%;
	top: 12px;
	height: 35px;
	width: 35px;
	z-index: 88;
}

.toggleNavButton {
	transition-duration: 0.5s;
	width: 35px;
	height: 2px;
	background-color: #D5D5D5;
	position: absolute;
	left: 88%;
	top: 19px;
	border-radius: 2px;
}

.toggleNavButton:before,
.toggleNavButton:after {
	border-radius: 2px;
	transition-duration: 0.5s;
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	background-color: #D5D5D5;
	width: 35px;
	height: 2px;
}

.toggleNavButton:after {
	top: 20px;
}

.menuActive {
	width: 0;
}
.navtoggle{
	height: 180px;
}
.menuActive:after {
	top: 10px;
	transform: rotate(45deg);
}

.menuActive:before {
	transform: rotate(-45deg);
}

.avatar{
	height: 60px;
	border-bottom: 1px solid #535962;
}

.ttt{
	width: 100%;
	height: 60px;
}
.connect{
	display: none;
}
.connect p{
	height: 20px;
	line-height: 20px;
}

.decsribe{
	padding: 50px 15px 15px 15px;
	height: 188px;
}
.l-content-text p,.ppp3,.lookmore{
 font-size: .88em;
}
.hello{
	display: none;
}
.mobileshow{
	position: absolute;
	left: 25.5%;
	top: 30px;
	color: #D4D4D5;
	display: block;
	font-size: .9em;
}
.ddd{
	display: block;
	width: 100%;
	position: relative;
	font-size:1em;
	margin-top: 0px;
	color: #3A3D43;
}
.con-left{
	width: 100%;
	padding: 15px;
}
.quab{
	width: 50%;
}
.left-title,.left-content-abm,.left-team-con{
	margin-left:0px;
	width: 100%;
}
.left-content-abm,.l-content-top{
	padding: 3px;
	font-size: .96em;
	height: auto;
	text-align: center;
}

.lctop-avater,.lctop-describe{
	width: 100%;
	float: left;
}
.lctop-avater{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#E1EEF8), to(#E1EFFB));
}
.lctop-img{
	width: 150px;
	height: 205px;
}
.l-content-top{
	max-height: 403px;
}
.con-right{
	padding: 15px;
	width: 100%;
}
.right-title,.right-content{
	width: 100%;
}
.right-content{
	height: auto;
}
.rep-demo{
	height: 9em;
}
.middler{
	margin-bottom: 0px;
}

#progressbar{
	margin-top:20px;
	height: auto;
	padding: 0 30px;
	margin-bottom: 30px;
}

/*-------------------repetory---------------------*/
.repertorycontents{
	width: 100%;
	padding: 15px;
}
.alldiscribe{
	font-size: 1em;
}
.line{
	/*max-height: 446px;*/
	max-height: 49.8em;
	margin-top: 0px;
}
.demo{
	width: 100%;
	margin-top: 15px;
	height: 11.5em;
}
.demo-title{
	font-size: 1em;
	margin-top: 20px;
}
.demo-decribe,.demopoint,.demopoint1{
	font-size: .8em;
}
