<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<link href="image/lanboic.ico" rel="icon" type="image/x-icon"/>
		<link rel="stylesheet" href="css/head.css" />
		<link rel="stylesheet" href="css/chezhufuwu.css" />
		<link rel="stylesheet" href="css/foot.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="js/ajax.js"></script>
		<script type="text/javascript" src="js/head.js"></script>
		<script type="text/javascript" src="js/chezhufuwu.js"></script>
	</head>

	<body>
		<script>
			include("head.html");
		</script>
		<script>
			include("chezhufuwu.html");
		</script>
		<script>
			include("foot.html");
		</script>
	</body>

</html>