<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="css/chezhufuwu.css" />
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/chezhufuwu.js"></script>
		<link rel="stylesheet" href="css/font-awesome.min.css" />
	</head>

	<body>-->
<div class="mid">
	<div class="toppic">
		<div class="mengban">
			<div class="kehufuwu">
				<p class="row1">兰博基尼</p>
				<p class="row2">客户服务</p>
				<p class="row3">兰博基尼汽车诚挚为您提供细心周到的服务，满足客户一切需求。 </p>
			</div>
		</div>
		<div class="fadpic">
			<div class="chang chang1 bian"></div>
			<div class="chang chang2"></div>
			<div class="tiao"><i class="fa fa-angle-down fa-4x da" aria-hidden="true"></i></div>
			<img class="slider1" src="img/slider1.jpg" /><!--
				--><img class="slider2" src="img/slider2.jpg" />
		</div>
	</div>
	<div class="first">
		<p class="zykf">
			<a class="zhuye">主页&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a>客户服务</p>
		<p class="clysrx"><span class="cheliang">车辆</span>&nbsp;易手如新</p>
		<p class="wulun">无论是新车或是二手车，兰博基尼汽车带来的激情难以形容。寻找那款让您心跳的座驾吧。</p>
		<p class="zdysc"><span class="anniu">转到易手车</span><span class="anniu1"><i class="fa fa-angle-right" aria-hidden="true"></i></span></p>
		<div class="car">
			<img class="carpic" src="img/car1.png" />
		</div>
	</div>
	<div class="second">
		<p class="clysrx"><span class="cheliang">配件</span>&nbsp;与服务</p>
		<p class="wulun">客户服务是我们的头等大事，不仅体现于购买阶段，更重要的是售后服务。因此，兰博基尼是所有客户的可靠伴侣。</p>
		<p class="zdysc1"><span class="duan">设计服务</span><span class="duan1"><i class="fa fa-angle-right" aria-hidden="true"></i></span></p>
	</div>
	<div class="third">
		<div class="peijiantu">
			<img class="img" src="img/1234.jpg" />
			<div class="peijiantext">
				<p class="peijianwz">
					<a class="wzgs">原装配件</a>
				</p>
				<p class="peijianwz peijianwz1">
					<a class="wzgs">更换备件</a>
				</p>
				<p class="peijianwz">
					<a class="wzgs">POLO <span class="danduxiao">STORICO</span></a>
				</p>
				<p class="peijianwz peijianwz1">
					<a class="wzgs">兰博基尼金融服务</a>
				</p>
			</div>
		</div>
	</div>
	<div class="fours">
		<div class="leftpic">
			<img class="pic1" src="img/leftpic.jpg" />
			<div class="mengban1"></div>
			<p class="zizi">型号</p>
		</div>
		<div class="rightpic">
			<img class="pic1" src="img/rightpic.jpg" />
			<div class="mengban2"></div>
			<p class="zizi">博物馆</p>
		</div>
	</div>
</div>
<!--</body>

</html>-->