<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/foot.css" />

	</head>

	<body>-->
		<div class="bottom">
			<div class="footnav">
				<ul class="footul">
					<li class="footli">公司</li>
					<li class="footli">职业发展</li>
					<li class="footli">联系我们</li>
					<li class="footli">媒体中心</li>
					<li class="footli">隐私政策</li>
					<li class="footli">网站地图</li>
					<li class="footli">消息订阅</li>
					<li class="footli">商店</li>
				</ul>
			</div>
			<div class="footdaohang">
				<div class="footlist">
					<p class="tou">车型</p>
					<div class="baixian"></div>
					<p class="listcon">Huracán</p>
					<p class="listcon">Aventador</p>
					<p class="listcon">限量版型号</p>
					<p class="listcon">概念车</p>
					<p class="listcon">Ad Personam高级个性化方案</p>
					<p class="listcon">&nbsp;</p>
				</div>
				<div class="footlist">
					<p class="tou">品牌</p>
					<div class="baixian"></div>
					<p class="listcon">人物</p>
					<p class="listcon">历史</p>
					<p class="listcon">杰作</p>
					<p class="listcon">设计</p>
					<p class="listcon">Forged Composites®</p>
					<p class="listcon">碳纤维</p>
				</div>
				<div class="footlist">
					<p class="tou">车主服务</p>
					<div class="baixian"></div>
					<p class="listcon">查找易手车</p>
					<p class="listcon">原厂配件</p>
					<p class="listcon">零配件</p>
					<p class="listcon">客户服务</p>
					<p class="listcon">Polo Storico修复中心</p>
					<p class="listcon">&nbsp;</p>
				</div>
				<div class="footlist">
					<p class="tou">体验</p>
					<div class="baixian"></div>
					<p class="listcon">新闻</p>
					<p class="listcon">活动</p>
					<p class="listcon">Accademia驾驶学院</p>
					<p class="listcon">博物馆</p>
					<p class="listcon">Esperienza驾驶体验活动</p>
					<p class="listcon">移动APP</p>
				</div>
			</div>
			<div class="tubiao">
				<i class="guanzhu"> 关注我们</i>
				<i class="fa fa-weibo fa-2x" aria-hidden="true" style="color: white;"></i>
				<i class="fa fa-play-circle fa-1x" aria-hidden="true" style="color: white;"></i>
				<i class="fa fa-weixin fa-1x" aria-hidden="true" style="color: white;"></i>
			</div>
			<p class="banquan">©2017 年兰博基尼汽车有限公司版权所有。兰博基尼汽车有限公司是一家隶属奥迪集团的单一股东公司。保留所有权利。增值税号码：IT 00591801204 </p>
			<p class="gongan">津ICP备15001327号 <img class="place" src="img/Logojing.png">
				<a class="jing" >&nbsp;京公网安备 11010502032604号</a>
			</p>
		</div>
	<!--</body>

</html>-->